@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif !important;
  font-style: italic;
}

a{
  text-decoration: none !important;
}
.addBtn{
  /* background-color: #009d63 !important; */
  background-color: #4070f4 !important;
  /* outline: none !important; */
  border-color: #4070f4 !important;
}
.btnDelete{
  background-color: #4070f4 !important;
  border-color: #4070f4 !important;
}
/* .formGroup{
  
      width: 50% !important;
    
} */
